<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292328770347-0q3vldbotuqvqoof38hj90k7ri7e56c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292328770347-0q3vldbotuqvqoof38hj90k7ri7e56c8</string>
	<key>API_KEY</key>
	<string>AIzaSyCGzj6upzB1VLMLG7cZwPt-FMgZA0-4XV8</string>
	<key>GCM_SENDER_ID</key>
	<string>292328770347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.canoodle</string>
	<key>PROJECT_ID</key>
	<string>canoodle-4e520</string>
	<key>STORAGE_BUCKET</key>
	<string>canoodle-4e520.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292328770347:ios:15f56979053ce9ea7e936e</string>
</dict>
</plist>