<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271806339695-ev0llro7ps6dkqd5h1ll8h8oneofdgd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271806339695-ev0llro7ps6dkqd5h1ll8h8oneofdgd7</string>
	<key>API_KEY</key>
	<string>AIzaSyA0wwldrxqyK6HsLKSSOU0-w5Iz7ECkhZc</string>
	<key>GCM_SENDER_ID</key>
	<string>271806339695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appineers.canoodle</string>
	<key>PROJECT_ID</key>
	<string>canoodle</string>
	<key>STORAGE_BUCKET</key>
	<string>canoodle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271806339695:ios:bb6d1925e67b32fe9f0b9a</string>
	<key>DATABASE_URL</key>
	<string>https://canoodle.firebaseio.com</string>
</dict>
</plist>